@charset "UTF-8";

:root {
    --sidebar-w: 250px;
    --bg1: #202326;
    --bg2: #262a2d;
    --bg3: #373d42;
    --text: #ffffff;
    --accent: #0683c3;
    --contrast: #ff9f1c;
    --logo: 40px;
    --space: 20px;
    --pad: 10px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg1);
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}
a:hover {
    color: var(--accent);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-w);
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    z-index: 1000;
}

nav img {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    padding: 10px;
    background: linear-gradient(to right, var(--contrast), var(--accent));
    margin: 15px 15px 150px;
}

nav a {
    font-size: 1.375rem;
    margin-bottom: var(--space);
    transition: all 0.3s ease;
}

nav a.active {
    font-weight: bold;
    color: var(--contrast);
}

main {
    margin-left: var(--sidebar-w);
    min-height: 100dvh;
}

.transicao {
    width: 100%;
    height: 125px;
    position: relative;
    display: block;
}

.transicao:nth-of-type(odd) {
    background: linear-gradient(
        to bottom right,
        var(--bg2) 50%,
        var(--bg3) 50%
    );
}

.transicao:nth-of-type(even) {
    background: linear-gradient(
        to bottom right,
        var(--bg3) 50%,
        var(--bg2) 50%
    );
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    pointer-events: none;
    opacity: 0.2;
    z-index: 0;
}

section:nth-of-type(odd) {
    background-color: var(--bg3);
}

section:nth-of-type(even) {
    background-color: var(--bg2);
}

#sobre,
#formacao,
#experiencias,
#cursos,
#habilidades,
#contatos {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
}

#saudacao .saudacao {
    font-size: clamp(1.5rem, 1rem + 3vw, 2.5rem);
    margin: 0;
    position: relative;
    z-index: 1;
}
#saudacao .apresentacao,
#saudacao .profissao {
    font-size: clamp(1.25rem, 0.8rem + 3.5vw, 3rem);
    margin: 0;
}
#saudacao .profissao {
    font-weight: bold;
    position: relative;
    z-index: 1;
}
#saudacao .nome {
    color: var(--contrast);
    font-weight: bold;
    position: relative;
    z-index: 1;
}

#saudacao .nome:hover {
    color: var(--accent);
    font-weight: bold;
}

#saudacao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 80px;
}

h1 {
    position: relative;
    z-index: 2;
    font-size: 4rem;
    font-weight: bold;
    color: var(--contrast);
}

h2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text);
    opacity: 0.1;
    white-space: nowrap;
    letter-spacing: 5px;
}

.texto {
    font-size: 1.5rem;
    margin: 0 0 var(--space);
    max-width: 1200px;
    text-align: justify;
    line-height: 1.5;
}

strong {
    color: var(--accent);
    font-weight: bold;
}

.logos {
    margin-right: var(--pad);
    vertical-align: middle;
    width: var(--logo);
    height: var(--logo);
}

.empresa {
    color: var(--accent);
    font-weight: bold;
}

.cargo {
    color: var(--contrast);
    font-weight: bold;
}

.cursos {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.escola {
    color: var(--accent);
    font-weight: bold;
}

#habilidades {
    display: flex;
}

.tecnologias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 20px;
    width: 100%;
    max-width: 1100px;
    grid-template-rows: repeat(4, auto); /* Cria 4 linhas fixas */
    grid-auto-flow: column;
}

.tecnologia-container {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.tecnologia,
.percentual {
    font-size: 1.5rem;
    line-height: 1.5;
    display: inline;
}

.container-barra {
    width: 500px;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin-bottom: 30px;
    overflow: hidden;
}

.barra-html,
.barra-css,
.barra-hardware {
    height: 24px;
    width: 90%;
    background-color: var(--accent);
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease;
}

.barra-js,
.barra-sql {
    height: 24px;
    width: 70%;
    background-color: var(--accent);
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease;
}

.barra-windows {
    height: 24px;
    width: 100%;
    background-color: var(--accent);
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease;
}

.barra-windows-server,
.barra-linux {
    height: 24px;
    width: 80%;
    background-color: var(--accent);
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 25px 0 0 25px;
    transition: width 0.4s ease;
}

.contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space);
}

.item-contato {
    color: var(--contrast);
    font-weight: bold;
}

@media (max-width: 900px) {
    nav {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
        gap: 15px;
    }

    nav img {
        width: 100px;
        height: 100px;
        margin: 0 0 10px 0;
    }

    nav a {
        font-size: 1rem;
        margin-bottom: 0;
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: var(--bg2);
        border-radius: 5px;
    }

    nav div {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        gap: 20px;
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    section {
        height: auto;
        min-height: 100vh;
        padding: 60px 20px;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    h2 {
        font-size: 3.5rem;
        letter-spacing: 0;
    }

    .texto {
        font-size: 1.1rem;
        text-align: left;
    }

    header {
        margin-bottom: 40px;
    }

    .cursos {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .tecnologia-container,
    .container-barra {
        width: 100%;
    }

    .detalhe-contato {
        font-size: 1rem;
        word-break: break-all;
    }
}
